<h1>네이버 검색</h1>
<form action="http://search.naver.com/search.naver">
    <input type="text" name="query">
    <input type="submit">
</form>
<h1>다음 검색</h1>
<form action="http://search.daum.net/search">
    <input type="text" name="q">
    <input type="submit">
</form>
<h1>구글 검색</h1>
<form action="http://www.google.co.kr/search">
    <input type="text" name="q">
    <input type="submit">
</form>